<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Add other section groups if needed -->
  </configSections>

  <connectionStrings>
    <!-- Example SQL connection (optional) -->
    <!--
    <add name="DefaultConnection" 
         connectionString="Data Source=.;Initial Catalog=YourDb;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

    <!-- Authentication setup -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2880" />
    </authentication>

    <!-- Authorization rules -->
    <authorization>
      <allow users="*" />
      <!-- <deny users="?" /> -->
    </authorization>

    <!-- Custom errors -->
    <customErrors mode="Off" />

    <!-- Session state (optional) -->
    <sessionState timeout="20" />
  </system.web>

  <system.webServer>
    <!-- Enable default documents -->
    <defaultDocument>
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>

    <!-- Enable static content -->
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>

    <!-- Enable compression (optional) -->
    <httpCompression>
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
</configuration>
